body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
}


canvas {
    border: 1px solid black;
    background: skyblue;
    display: block;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
}

/* 📱 Mobile */
@media (max-width: 600px) {
    canvas {
        width: 100vw; /* full width */
    }
}

/* 💻 Desktop */
@media (min-width: 600px) {
    canvas {
        width: 50vw; /* fixed game width */
    }
}